{% extends 'sidebar_content_view.html' %}
{% block page_content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="d-flex flex-shrink-0"><img class="rounded-circle bg-info m-1 me-3 avatar" src="{{ profile.avatar.url }}"></div>
                        <div class="d-flex flex-column flex-grow-1">
                            <h4>{{user.first_name}} {{user.last_name}}</h4>
                            <h6 class="text-muted mb-2">{{profile.city.city_name}}, {{profile.city.state.state_code}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group w-100 flex-column gap-2" role="group">
                <button class="btn btn-primary" type="submit" form="profile-form">Save Profile</button>
                <a class="btn btn-primary" role="button" id="cancel-btn" href="{% url 'profile' %}">Cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Fields</h4>
                    <h6 class="text-muted card-subtitle mb-2">To save your changes, click "Save Profile".</h6>
                    <form class="text-center" id="profile-form" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}